/* General Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for App Logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Header Styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Header Specific Styles */
.header {
  background-color: #013d1e;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 0 auto;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.logo {
  margin-right: 10px;
  padding: 0 0 4px 10px;
  height: 3rem;
}

.title {
  margin: 0;
}

.sponsor {
  margin-left: auto;
}

#localetime {
  margin-left: 25%;
}

#airqo {
  margin-left: 35%;
}

/* Responsive Styles for Edge Devices */
@media (max-width: 1300px) {
  .header {
    padding: 5px;
    font-size: small;
    height: 4rem;
  }
}

/* Responsive Styles for Tablet Devices */
@media (max-width: 950px) {
  .header {
    flex-direction: column;
    text-align: center;
    height: auto;
    font-size: small;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .title {
    margin: 4px;
  }

  #localetime,
  #airqo {
    margin-left: 0;
  }
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 576px) {
  .header {
    height: auto;
  }
}

/* Responsive Styles */
@media (max-width: 950px) {
  .sidebar {
    font-size: medium;
    width: 40vw;
  }
}

@media (max-width: 576px) {
  .sidebar {
    display: none;
  }
}